@import "tailwindcss";

* {
  font-family: "Prompt", sans-serif;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@custom-variant dark (&:where(.dark, .dark *));
